<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guarderia -Página de administración</title>
</head>
<body>
    <div class="container mt-3">
        <h1>Guarderia -Página de administración</h1>
        <a class="btn btn-primary" href="/logout">Logout</a>

        <h4 class="my-2">Total perros Lassie: {{ datos.TotalLassie }} </h4>
        <hr />
        <h4>Perros de Mario</h4>
        <table border="1" class="table">
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Peso</th>
                <th>Edad</th>
            </tr>
            {% for perro in datos.perros %}
            <tr>
                <td>Este|a es {{ perro.nombre }}</td>
                <td>Un hermoso {{ perro.raza }}!</td>
                <td>{{ perro.peso }}</td>
                <td>{{ perro.edad }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>