<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guarderia - Login</title>
</head>
<div>
    <div class="container mt-3">
        <h1>Guarderia - Login</h1>
        <form method="post">
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" name="username" placeholder="username" required/>
            </div>
            <div class="form-group mt-3">
                <label>Password</label>
                <input type="password" name="password" placeholder="password" required/>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Ingresar</button>
        </form>
    </div> 
</body>
</html>